body {
    font-family: "Times New Roman", Times, serif; 
    background-color: #FFE4C8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #311C10;
    color: white;
    padding: 20px 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    height: 150px;
    width: auto;
    margin-right: 20px;
}
header nav {
    margin-left: 490px;
    flex-grow: 1;
}
header nav a {
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}
header nav a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 40px;
}

.content {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    flex: 1;
}
.content img {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin-bottom: 20px;
}
table {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #d9ba9c;
}
table, th, td {
    border: 1px solid #311C10;
    font-size: 20px;
}
th{
    background-color: #311C10;
    color:#FFE4C8;
    padding: 15px;
}
th, td {
    padding: 15px;
    text-align: left;
}
footer {
    background-color: #d9ba9c;
    color: white;
    text-align: center;
    padding: 20px;
}
p {
    font-size: 21px;
}

.card-text {
    font-size: 18px;
    text-align: center;
    font-family: "Times New Roman", Times, serif; 
}

.border-image{
    border-radius: 20px;
}
.card{
    background-color: #d9ba9c;
    border-radius: 20px;
}
.card-title{
    text-align: center;
}
